In [1]:
# Import dependencies
import pandas as pd
import gmaps

# Google developer API key
from appid import gkey

# Access maps with unique API key
gmaps.configure(api_key=gkey)

In [2]:
vacation_df = pd.read_csv('../WeatherPy/Data/Weather_Data.csv')
vacation_df

,Unnamed: 0,City ID,City Name,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
0,0,3382160.0,cayenne,4.9333,-52.3333,77.59,94.0,90.0,5.75
1,2,5106841.0,albany,42.6001,-73.9662,55.89,89.0,88.0,2.55
2,3,4030556.0,rikitea,-23.1203,-134.9692,75.83,69.0,74.0,9.80
3,4,2514651.0,los llanos de aridane,28.6585,-17.9182,64.40,63.0,0.0,3.44
4,5,202061.0,kigali,-1.9500,30.0588,64.18,94.0,40.0,5.75
...,...,...,...,...,...,...,...,...,...
667,1484,3393536.0,olinda,-8.0089,-34.8553,75.20,88.0,40.0,5.75
668,1489,2022129.0,kichera,55.9375,110.0997,33.64,45.0,20.0,2.19
669,1490,1586443.0,ca mau,9.1769,105.1500,93.27,48.0,98.0,10.40
670,1493,3354077.0,opuwo,-18.0607,13.8400,63.54,60.0,34.0,3.11
671,1495,6141439.0,sault sainte marie,46.5168,-84.3333,41.25,76.0,1.0,2.06

In [76]:
# Creating the heat map

# 1. Storing latitudes and longitudes
locations = vacation_df[['Latitude', 'Longitude']]

# Defining variable to be used in creating heatmap
humidity = vacation_df['Humidity (%)'].astype(float)

# Plot heat map
fig = gmaps.figure(center=(10, 5), zoom_level=2)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=10, point_radius=2)

# Add layer
fig.add_layer(heat_layer)


# Display heatmap
fig

Figure(layout=FigureLayout(height='420px'))

In [89]:
# Narrowing down the dataframe

# 1. temperature range: 70 <= temp <= 80
# 2. wind speed < 10
# 3. cloudiness = 0
vacation_ideal = vacation_df[(vacation_df['Temperature (F)'] <= 80) & (vacation_df['Temperature (F)'] >= 70) &
                           (vacation_df['Wind Speed (mph)'] < 10) & 
                           (vacation_df['Cloudiness (%)']==0)]
vacation_ideal

,Unnamed: 0,City ID,City Name,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
12,13,1067565.0,beloha,-25.1667,45.0500,76.86,58.0,0.0,5.50
30,35,2063056.0,port augusta,-32.5000,137.7667,76.80,31.0,0.0,8.05
249,397,1529660.0,aksu,41.1231,80.2644,78.80,9.0,0.0,1.36
281,461,98182.0,baghdad,33.3406,44.4009,75.20,35.0,0.0,6.91
300,504,1803365.0,linqiong,30.4159,103.4609,75.11,57.0,0.0,2.24
339,599,1280037.0,shache,38.4167,77.2406,79.12,8.0,0.0,1.63
343,606,362973.0,abnub,27.2696,31.1511,79.20,10.0,0.0,3.44
375,677,107304.0,buraydah,26.3260,43.9750,73.40,53.0,0.0,4.61