In [1]:
# Import Dependencies
import pandas as pd
import numpy as np
import requests
import json
from appid import api_key
from pprint import pprint
from citipy import citipy
import matplotlib as plt

In [2]:
# Create lists of random longitudes and latitudes
lat = []
lng = []

for x in np.random.randint(-45,45,1000):
    lat.append(x)
    
for y in np.random.randint(-165,165,1000):
    lng.append(y)

# zip together the two lists to obtain pairs of longitude & latitudes in a tuple
lat_lng = tuple(zip(lat,lng))
#print(lat_lng)

In [3]:
# for each latitude-longitude pair we find the nearest city to that pair 
# and put the city and country in the separate lists titled city and country respectively
cities = []
countries =[]
for x, y in lat_lng:
    city = citipy.nearest_city(x, y)
    cityName = city.city_name
    cities.append(cityName)
    countries.append(city.country_code)
    
#print(cities)

In [4]:
# define the base url
base_url = "http://api.openweathermap.org/data/2.5/weather?"
units = 'metric'

# Build partial query url
query_url = f"{base_url}&appid={api_key}&units={units}q="

In [5]:
# Creat empty lists of temperature, humidity, cloudiness and wind speed
temp = []
hum = []
cloud = []
windsp = []

In [6]:
weather_dict = {
    'City': cities,
    'Latitude': lat,
    'Longitude': lng
}

weather_data = pd.DataFrame(weather_dict)
weather_data

            City  Latitude  Longitude
0           hilo         9       -156
1        sumbawa       -10        118
2         avarua       -27       -163
3        bubaque         8        -18
4    panalingaan        10        116
..           ...       ...        ...
995      huarmey       -15        -90
996    bathsheba        17        -51
997        bjala        43         28
998   maningrida        -9        133
999   sun valley        40       -120

[1000 rows x 3 columns]

In [8]:
# Create new columns for the other variables
weather_data['Temperature (F)'] = ""
weather_data['Humidity (%)'] = ""
weather_data['Cloudiness (%)'] = ""
weather_data['Wind Speed (mph)'] = ""

weather_data

,City,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
0,hilo,9,-156,,,,
1,sumbawa,-10,118,,,,
2,avarua,-27,-163,,,,
3,bubaque,8,-18,,,,
4,panalingaan,10,116,,,,
...,...,...,...,...,...,...,...
995,huarmey,-15,-90,,,,
996,bathsheba,17,-51,,,,
997,bjala,43,28,,,,
998,maningrida,-9,133,,,,
999,sun valley,40,-120,,,,

In [ ]:

# loop through list of cities to obtain the required information for each city
for city in cities:
    response = requests.get(query_url + city).json()
print(response)

In [32]:
# Base url for get requests
url = "https://api.openweathermap.org/data/2.5/find?"

query_url = f"{url}&lat={45}&lon={105}&cnt={50}&appid={api_key}"

response = requests.get(query_url)
weather_data = response.json()
pprint(weather_data)

{'cod': '200',
 'count': 12,
 'list': [{'clouds': {'all': 100},
           'coord': {'lat': 45.2432, 'lon': 104.8051},
           'dt': 1619399157,
           'id': 2030890,
           'main': {'feels_like': 265.33,
                    'grnd_level': 845,
                    'humidity': 71,
                    'pressure': 1012,
                    'sea_level': 1012,
                    'temp': 272.96,
                    'temp_max': 272.96,
                    'temp_min': 272.96},
           'name': 'Hashaat',
           'rain': None,
           'snow': None,
           'sys': {'country': 'MN'},
           'weather': [{'description': 'overcast clouds',
                        'icon': '04d',
                        'id': 804,
                        'main': 'Clouds'}],
           'wind': {'deg': 0, 'speed': 11.78}},
          {'clouds': {'all': 100},
           'coord': {'lat': 45.05, 'lon': 105.5667},
           'dt': 1619399158,
           'id': 2028411,
           'main': {'feels_like': 269.67,
                    'grnd_level': 867,
                    'humidity': 60,
                    'pressure': 1009,
                    'sea_level': 1009,
                    'temp': 275.89,
                    'temp_max': 275.89,
                    'temp_min': 275.89},
           'name': 'Ulaanjirem',
           'rain': None,
           'snow': None,
           'sys': {'country': 'MN'},
           'weather': [{'description': 'overcast clouds',
                        'icon': '04d',
                        'id': 804,
                        'main': 'Clouds'}],
           'wind': {'deg': 333, 'speed': 10.27}},
          {'clouds': {'all': 76},
           'coord': {'lat': 44.4245, 'lon': 105.3208},
           'dt': 1619399158,
           'id': 2031832,
           'main': {'feels_like': 266.54,
                    'grnd_level': 863,
                    'humidity': 57,
                    'pressure': 1011,
                    'sea_level': 1011,
                    'temp': 274.74,
                    'temp_max': 274.74,
                    'temp_min': 274.74},
           'name': 'Doloon',
           'rain': None,
           'snow': None,
           'sys': {'country': 'MN'},
           'weather': [{'description': 'broken clouds',
                        'icon': '04d',
                        'id': 803,
                        'main': 'Clouds'}],
           'wind': {'deg': 271, 'speed': 16.99}},
          {'clouds': {'all': 100},
           'coord': {'lat': 45.5072, 'lon': 105.7559},
           'dt': 1619399157,
           'id': 2028722,
           'main': {'feels_like': 264.71,
                    'grnd_level': 846,
                    'humidity': 75,
                    'pressure': 1010,
                    'sea_level': 1010,
                    'temp': 272.6,
                    'temp_max': 272.6,
                    'temp_min': 272.6},
           'name': 'Tsagaan-Ovoo',
           'rain': None,
           'snow': {'1h': 0.312},
           'sys': {'country': 'MN'},
           'weather': [{'description': 'light snow',
                        'icon': '13d',
                        'id': 600,
                        'main': 'Snow'}],
           'wind': {'deg': 342, 'speed': 12.24}},
          {'clouds': {'all': 100},
           'coord': {'lat': 44.65, 'lon': 104.05},
           'dt': 1619399158,
           'id': 2029321,
           'main': {'feels_like': 270.87,
                    'grnd_level': 888,
                    'humidity': 69,
                    'pressure': 1013,
                    'sea_level': 1013,
                    'temp': 276.15,
                    'temp_max': 276.15,
                    'temp_min': 276.15},
           'name': 'Sharhulsan',
           'rain': None,
           'snow': None,
           'sys': {'country': 'MN'},
           'weather': [{'description': 'overcast clouds',
                        'icon': '04d',
                        'id': 804,
                        'main': 'Clouds'}],
           'wind': {'deg': 322, 'speed': 7.59}},
          {'clouds': {'all': 100},
           'coord': {'lat': 45.45, 'lon': 103.9},
           'dt': 1619399157,
           'id': 2029636,
           'main': {'feels_like': 268.85,
                    'grnd_level': 862,
                    'humidity': 51,
                    'pressure': 1012,
                    'sea_level': 1012,
                    'temp': 275.51,
                    'temp_max': 275.51,
                    'temp_min': 275.51},
           'name': 'Ongi',
           'rain': None,
           'snow': None,
           'sys': {'country': 'MN'},
           'weather': [{'description': 'overcast clouds',
                        'icon': '04d',
                        'id': 804,
                        'main': 'Clouds'}],
           'wind': {'deg': 16, 'speed': 11.41}},
          {'clouds': {'all': 100},
           'coord': {'lat': 45.3, 'lon': 106.2},
           'dt': 1619399158,
           'id': 2029527,
           'main': {'feels_like': 268.5,
                    'grnd_level': 869,
                    'humidity': 64,
                    'pressure': 1008,
                    'sea_level': 1008,
                    'temp': 275.37,
                    'temp_max': 275.37,
                    'temp_min': 275.37},
           'name': 'Rashaant',
           'rain': None,
           'snow': None,
           'sys': {'country': 'MN'},
           'weather': [{'description': 'overcast clouds',
                        'icon': '04d',
                        'id': 804,
                        'main': 'Clouds'}],
           'wind': {'deg': 329, 'speed': 12.03}},
          {'clouds': {'all': 100},
           'coord': {'lat': 46, 'lon': 105},
           'dt': 1619399158,
           'id': 2029969,
           'main': {'feels_like': 265.28,
                    'grnd_level': 853,
                    'humidity': 73,
                    'pressure': 1011,
                    'sea_level': 1011,
                    'temp': 272.9,
                    'temp_max': 272.9,
                    'temp_min': 272.9},
           'name': 'Mongolia',
           'rain': None,
           'snow': None,
           'sys': {'country': 'MN'},
           'weather': [{'description': 'overcast clouds',
                        'icon': '04d',
                        'id': 804,
                        'main': 'Clouds'}],
           'wind': {'deg': 354, 'speed': 11.65}},
          {'clouds': {'all': 100},
           'coord': {'lat': 46.0079, 'lon': 104.9421},
           'dt': 1619399157,
           'id': 2029495,
           'main': {'feels_like': 265.4,
                    'grnd_level': 853,
                    'humidity': 71,
                    'pressure': 1011,
                    'sea_level': 1011,
                    'temp': 273.02,
                    'temp_max': 273.02,
                    'temp_min': 273.02},
           'name': 'Sangiyn Dalay',
           'rain': None,
           'snow': None,
           'sys': {'country': 'MN'},
           'weather': [{'description': 'overcast clouds',
                        'icon': '04d',
                        'id': 804,
                        'main': 'Clouds'}],
           'wind': {'deg': 354, 'speed': 11.81}},
          {'clouds': {'all': 74},
           'coord': {'lat': 45.5, 'lon': 106.5},
           'dt': 1619399157,
           'id': 2031740,
           'main': {'feels_like': 265.69,
                    'grnd_level': 847,
                    'humidity': 74,
                    'pressure': 1008,
                    'sea_level': 1008,
                    'temp': 273.26,
                    'temp_max': 273.26,
                    'temp_min': 273.26},
           'name': 'Middle Govi',
           'rain': None,
           'snow': None,
           'sys': {'country': 'MN'},
           'weather': [{'description': 'broken clouds',
                        'icon': '04d',
                        'id': 803,
                        'main': 'Clouds'}],
           'wind': {'deg': 330, 'speed': 11.92}},
          {'clouds': {'all': 99},
           'coord': {'lat': 45.7625, 'lon': 106.2708},
           'dt': 1619399374,
           'id': 2030065,
           'main': {'feels_like': 263.92,
                    'grnd_level': 847,
                    'humidity': 86,
                    'pressure': 1009,
                    'sea_level': 1009,
                    'temp': 271.79,
                    'temp_max': 271.79,
                    'temp_min': 271.79},
           'name': 'Mandalgovi',
           'rain': None,
           'snow': {'1h': 0.26},
           'sys': {'country': 'MN'},
           'weather': [{'description': 'light snow',
                        'icon': '13d',
                        'id': 600,
                        'main': 'Snow'}],
           'wind': {'deg': 329, 'speed': 11.24}},
          {'clouds': {'all': 27},
           'coord': {'lat': 43.7834, 'lon': 104.4807},
           'dt': 1619399157,
           'id': 2029735,
           'main': {'feels_like': 266.78,
                    'grnd_level': 842,
                    'humidity': 27,
                    'pressure': 1014,
                    'sea_level': 1014,
                    'temp': 274.94,
                    'temp_max': 274.94,
                    'temp_min': 274.94},
           'name': 'Ögöömör',
           'rain': None,
           'snow': None,
           'sys': {'country': 'MN'},
           'weather': [{'description': 'scattered clouds',
                        'icon': '03d',
                        'id': 802,
                        'main': 'Clouds'}],
           'wind': {'deg': 285, 'speed': 17.18}}],
 'message': 'accurate'}

In [36]:
df = pd.DataFrame(weather_data['list'])
df

,id,name,coord,main,dt,wind,sys,rain,snow,clouds,weather
0,2030890,Hashaat,"{'lat': 45.2432, 'lon': 104.8051}","{'temp': 272.96, 'feels_like': 265.33, 'temp_m...",1619399157,"{'speed': 11.78, 'deg': 0}",{'country': 'MN'},None,None,{'all': 100},"[{'id': 804, 'main': 'Clouds', 'description': ..."
1,2028411,Ulaanjirem,"{'lat': 45.05, 'lon': 105.5667}","{'temp': 275.89, 'feels_like': 269.67, 'temp_m...",1619399158,"{'speed': 10.27, 'deg': 333}",{'country': 'MN'},None,None,{'all': 100},"[{'id': 804, 'main': 'Clouds', 'description': ..."
2,2031832,Doloon,"{'lat': 44.4245, 'lon': 105.3208}","{'temp': 274.74, 'feels_like': 266.54, 'temp_m...",1619399158,"{'speed': 16.99, 'deg': 271}",{'country': 'MN'},None,None,{'all': 76},"[{'id': 803, 'main': 'Clouds', 'description': ..."
3,2028722,Tsagaan-Ovoo,"{'lat': 45.5072, 'lon': 105.7559}","{'temp': 272.6, 'feels_like': 264.71, 'temp_mi...",1619399157,"{'speed': 12.24, 'deg': 342}",{'country': 'MN'},None,{'1h': 0.312},{'all': 100},"[{'id': 600, 'main': 'Snow', 'description': 'l..."
4,2029321,Sharhulsan,"{'lat': 44.65, 'lon': 104.05}","{'temp': 276.15, 'feels_like': 270.87, 'temp_m...",1619399158,"{'speed': 7.59, 'deg': 322}",{'country': 'MN'},None,None,{'all': 100},"[{'id': 804, 'main': 'Clouds', 'description': ..."
5,2029636,Ongi,"{'lat': 45.45, 'lon': 103.9}","{'temp': 275.51, 'feels_like': 268.85, 'temp_m...",1619399157,"{'speed': 11.41, 'deg': 16}",{'country': 'MN'},None,None,{'all': 100},"[{'id': 804, 'main': 'Clouds', 'description': ..."
6,2029527,Rashaant,"{'lat': 45.3, 'lon': 106.2}","{'temp': 275.37, 'feels_like': 268.5, 'temp_mi...",1619399158,"{'speed': 12.03, 'deg': 329}",{'country': 'MN'},None,None,{'all': 100},"[{'id': 804, 'main': 'Clouds', 'description': ..."
7,2029969,Mongolia,"{'lat': 46, 'lon': 105}","{'temp': 272.9, 'feels_like': 265.28, 'temp_mi...",1619399158,"{'speed': 11.65, 'deg': 354}",{'country': 'MN'},None,None,{'all': 100},"[{'id': 804, 'main': 'Clouds', 'description': ..."
8,2029495,Sangiyn Dalay,"{'lat': 46.0079, 'lon': 104.9421}","{'temp': 273.02, 'feels_like': 265.4, 'temp_mi...",1619399157,"{'speed': 11.81, 'deg': 354}",{'country': 'MN'},None,None,{'all': 100},"[{'id': 804, 'main': 'Clouds', 'description': ..."
9,2031740,Middle Govi,"{'lat': 45.5, 'lon': 106.5}","{'temp': 273.26, 'feels_like': 265.69, 'temp_m...",1619399157,"{'speed': 11.92, 'deg': 330}",{'country': 'MN'},None,None,{'all': 74},"[{'id': 803, 'main': 'Clouds', 'description': ..."
10,2030065,Mandalgovi,"{'lat': 45.7625, 'lon': 106.2708}","{'temp': 271.79, 'feels_like': 263.92, 'temp_m...",1619399374,"{'speed': 11.24, 'deg': 329}",{'country': 'MN'},None,{'1h': 0.26},{'all': 99},"[{'id': 600, 'main': 'Snow', 'description': 'l..."
11,2029735,Ögöömör,"{'lat': 43.7834, 'lon': 104.4807}","{'temp': 274.94, 'feels_like': 266.78, 'temp_m...",1619399157,"{'speed': 17.18, 'deg': 285}",{'country': 'MN'},None,None,{'all': 27},"[{'id': 802, 'main': 'Clouds', 'description': ..."